<%- include('../shared/header.ejs') _%>
<article>
  <h2><%= title %></h2>
  Word Count: <%- body %>
  <footer>
    <% if (id > 1) { %>
      <a href="/guide/<%= (id - 1) %>">Prev</a>
    <% } %>
    <% if (id < total) { %>
      <a href="/guide/<%= (id + 1) %>">Next</a>
    <% } %>
  </footer>  
</article>
</body>
</html>
