<%- include('../shared/header.ejs') %>
<article>
  <h2><%= title %></h2>
  <ul>
    <% chapters.forEach((chapter) => { %>
      <li>
        <span>Word Count: <%= chapter.word_count %></span><br>
        <span>Chapter Title: <%= chapter.chapter_title %></span><br>
        <a href="/guide/<%= bookId %>/<%= chapter.chapter_number %>">Read Chapter</a>
      </li>
    <% }) %>
  </ul>
</article>
</body>
</html>
