<%- include('../shared/header.ejs') %>
<article class="container" id="main-article">
  <h2><%= title %></h2>
  <ol>
    <% chapters.forEach((chapter) => { %>
      <li>
        <span><%= chapter.chapter_title %></span><br>
        <span>Word Count: <%= chapter.word_count %></span><br>
        <a href="/guide/<%= bookId %>/<%= chapter.chapter_number %>">Read Chapter<br></a>
        <p></p>
      </li>
    <% }) %>
  </ol>
</article>
</body>
</html>
